NodeRed-Dashboards/MqttDashboard/mqttDashboard.json
[
    {
        "id": "09be6f597c5a4e6e",
        "type": "tab",
        "label": "Mosquitto_Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bdeb523adddc7c6b",
        "type": "group",
        "z": "09be6f597c5a4e6e",
        "name": "Broker Traffic",
        "style": {
            "label": true
        },
        "nodes": [
            "7943f5e2e21817ca",
            "7a47a05a71c98dcb",
            "6ec06452c6b270a4",
            "ae77faffeae35fa9",
            "798c900da2af6925",
            "1298b7956d0bc87c",
            "e5215855d752ee95",
            "90f9f7c8851388c1",
            "c031c72fef2cf8bf",
            "c79dff486d2cb015",
            "0ef62d61fbfb15b5",
            "d0762bb8ab61814f"
        ],
        "x": 14,
        "y": 39,
        "w": 612,
        "h": 282
    },
    {
        "id": "78cb16780cd22a9d",
        "type": "group",
        "z": "09be6f597c5a4e6e",
        "name": "Load",
        "style": {
            "label": true
        },
        "nodes": [
            "b66fa81b4ed709d6",
            "1b17479f93382438",
            "63940b3856528fcf",
            "ade95af206613b67",
            "098b96638b65e117",
            "ba199cee83200e30",
            "807e3b9efcf5d61c",
            "4a65474b709537de",
            "61dd17baaea36852",
            "1aba221ca75d5234",
            "e43a11109958c42d",
            "e8eec7a2fb5b1b70",
            "4f7aa32259dd8102",
            "1ca03d8c9cbd0d04",
            "327a567776d0ec9a",
            "73bc8d0c82db74d7",
            "825af1e5ece1e68a",
            "429304e1a2f4b74d",
            "01ecdbffa1532352",
            "d136621ab6fc1198"
        ],
        "x": 734,
        "y": 39,
        "w": 632,
        "h": 582
    },
    {
        "id": "b7a2203e2b320c7b",
        "type": "group",
        "z": "09be6f597c5a4e6e",
        "name": "Clients",
        "style": {
            "label": true
        },
        "nodes": [
            "4fd5ac7154181c0e",
            "e9f8e18f58e2c9ae",
            "7e3fcca759ad0a36",
            "ad5690aa7151937b",
            "f9cbe0641a9c5937",
            "0eed30ba8380966d",
            "371cb29f85f08873",
            "d1a8de94a666adbd"
        ],
        "x": 14,
        "y": 339,
        "w": 572,
        "h": 202
    },
    {
        "id": "688a7b15e13a466f",
        "type": "group",
        "z": "09be6f597c5a4e6e",
        "name": "Store",
        "style": {
            "label": true
        },
        "nodes": [
            "41489e40002c6122",
            "e9248650bbcf6ec5",
            "160e9e60908f4e86",
            "3359e588aa5c9b64"
        ],
        "x": 14,
        "y": 579,
        "w": 552,
        "h": 122
    },
    {
        "id": "d2e758355a58c234",
        "type": "group",
        "z": "09be6f597c5a4e6e",
        "name": "Broker Info",
        "style": {
            "label": true
        },
        "nodes": [
            "898b9f3aaae6ca83",
            "58fc909bb6c46bf3",
            "c1fbbf19a6f64630",
            "af829f6eb1dc48dd"
        ],
        "x": 14,
        "y": 719,
        "w": 532,
        "h": 122
    },
    {
        "id": "7943f5e2e21817ca",
        "type": "ui-text",
        "z": "09be6f597c5a4e6e",
        "g": "bdeb523adddc7c6b",
        "group": "5bbd4061dfccb6a0",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Messages Sent",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 480,
        "y": 80,
        "wires": []
    },
    {
        "id": "7a47a05a71c98dcb",
        "type": "ui-text",
        "z": "09be6f597c5a4e6e",
        "g": "bdeb523adddc7c6b",
        "group": "5bbd4061dfccb6a0",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Messages Received",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 500,
        "y": 120,
        "wires": []
    },
    {
        "id": "6ec06452c6b270a4",
        "type": "ui-text",
        "z": "09be6f597c5a4e6e",
        "g": "bdeb523adddc7c6b",
        "group": "5bbd4061dfccb6a0",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Messages Stored",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 490,
        "y": 160,
        "wires": []
    },
    {
        "id": "ae77faffeae35fa9",
        "type": "ui-text",
        "z": "09be6f597c5a4e6e",
        "g": "bdeb523adddc7c6b",
        "group": "5bbd4061dfccb6a0",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Messages Retained",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 500,
        "y": 200,
        "wires": []
    },
    {
        "id": "798c900da2af6925",
        "type": "ui-text",
        "z": "09be6f597c5a4e6e",
        "g": "bdeb523adddc7c6b",
        "group": "5bbd4061dfccb6a0",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Bytes Sent",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 470,
        "y": 240,
        "wires": []
    },
    {
        "id": "1298b7956d0bc87c",
        "type": "ui-text",
        "z": "09be6f597c5a4e6e",
        "g": "bdeb523adddc7c6b",
        "group": "5bbd4061dfccb6a0",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Bytes Received",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 480,
        "y": 280,
        "wires": []
    },
    {
        "id": "e5215855d752ee95",
        "type": "mqtt in",
        "z": "09be6f597c5a4e6e",
        "g": "bdeb523adddc7c6b",
        "name": "",
        "topic": "$SYS/broker/messages/received",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "29c50f1be5f2220e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 120,
        "wires": [
            [
                "7a47a05a71c98dcb"
            ]
        ]
    },
    {
        "id": "90f9f7c8851388c1",
        "type": "mqtt in",
        "z": "09be6f597c5a4e6e",
        "g": "bdeb523adddc7c6b",
        "name": "",
        "topic": "$SYS/broker/messages/sent",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "29c50f1be5f2220e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 80,
        "wires": [
            [
                "7943f5e2e21817ca"
            ]
        ]
    },
    {
        "id": "c031c72fef2cf8bf",
        "type": "mqtt in",
        "z": "09be6f597c5a4e6e",
        "g": "bdeb523adddc7c6b",
        "name": "",
        "topic": "$SYS/broker/messages/stored",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "29c50f1be5f2220e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 160,
        "wires": [
            [
                "6ec06452c6b270a4"
            ]
        ]
    },
    {
        "id": "c79dff486d2cb015",
        "type": "mqtt in",
        "z": "09be6f597c5a4e6e",
        "g": "bdeb523adddc7c6b",
        "name": "",
        "topic": "$SYS/broker/retained messages/count",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "29c50f1be5f2220e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 200,
        "wires": [
            [
                "ae77faffeae35fa9"
            ]
        ]
    },
    {
        "id": "0ef62d61fbfb15b5",
        "type": "mqtt in",
        "z": "09be6f597c5a4e6e",
        "g": "bdeb523adddc7c6b",
        "name": "",
        "topic": "$SYS/broker/bytes/sent",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "29c50f1be5f2220e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 240,
        "wires": [
            [
                "798c900da2af6925"
            ]
        ]
    },
    {
        "id": "d0762bb8ab61814f",
        "type": "mqtt in",
        "z": "09be6f597c5a4e6e",
        "g": "bdeb523adddc7c6b",
        "name": "",
        "topic": "$SYS/broker/bytes/received",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "29c50f1be5f2220e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 280,
        "wires": [
            [
                "1298b7956d0bc87c"
            ]
        ]
    },
    {
        "id": "4fd5ac7154181c0e",
        "type": "ui-text",
        "z": "09be6f597c5a4e6e",
        "g": "b7a2203e2b320c7b",
        "group": "c5df4c6df868b5d4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Total",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 450,
        "y": 380,
        "wires": []
    },
    {
        "id": "e9f8e18f58e2c9ae",
        "type": "ui-text",
        "z": "09be6f597c5a4e6e",
        "g": "b7a2203e2b320c7b",
        "group": "c5df4c6df868b5d4",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Connected",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 470,
        "y": 420,
        "wires": []
    },
    {
        "id": "7e3fcca759ad0a36",
        "type": "ui-text",
        "z": "09be6f597c5a4e6e",
        "g": "b7a2203e2b320c7b",
        "group": "c5df4c6df868b5d4",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Subscriptions",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 480,
        "y": 500,
        "wires": []
    },
    {
        "id": "ad5690aa7151937b",
        "type": "mqtt in",
        "z": "09be6f597c5a4e6e",
        "g": "b7a2203e2b320c7b",
        "name": "",
        "topic": "$SYS/broker/clients/connected",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "29c50f1be5f2220e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 420,
        "wires": [
            [
                "e9f8e18f58e2c9ae"
            ]
        ]
    },
    {
        "id": "f9cbe0641a9c5937",
        "type": "mqtt in",
        "z": "09be6f597c5a4e6e",
        "g": "b7a2203e2b320c7b",
        "name": "",
        "topic": "$SYS/broker/clients/total",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "29c50f1be5f2220e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 380,
        "wires": [
            [
                "4fd5ac7154181c0e"
            ]
        ]
    },
    {
        "id": "0eed30ba8380966d",
        "type": "mqtt in",
        "z": "09be6f597c5a4e6e",
        "g": "b7a2203e2b320c7b",
        "name": "",
        "topic": "$SYS/broker/subscriptions/count",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "29c50f1be5f2220e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 500,
        "wires": [
            [
                "7e3fcca759ad0a36"
            ]
        ]
    },
    {
        "id": "898b9f3aaae6ca83",
        "type": "ui-text",
        "z": "09be6f597c5a4e6e",
        "g": "d2e758355a58c234",
        "group": "5b292e6d2eed9fb7",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Version",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 460,
        "y": 760,
        "wires": []
    },
    {
        "id": "58fc909bb6c46bf3",
        "type": "ui-text",
        "z": "09be6f597c5a4e6e",
        "g": "d2e758355a58c234",
        "group": "5b292e6d2eed9fb7",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Uptime",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 460,
        "y": 800,
        "wires": []
    },
    {
        "id": "c1fbbf19a6f64630",
        "type": "mqtt in",
        "z": "09be6f597c5a4e6e",
        "g": "d2e758355a58c234",
        "name": "",
        "topic": "$SYS/broker/uptime",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "29c50f1be5f2220e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 800,
        "wires": [
            [
                "58fc909bb6c46bf3"
            ]
        ]
    },
    {
        "id": "af829f6eb1dc48dd",
        "type": "mqtt in",
        "z": "09be6f597c5a4e6e",
        "g": "d2e758355a58c234",
        "name": "",
        "topic": "$SYS/broker/version",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "29c50f1be5f2220e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 760,
        "wires": [
            [
                "898b9f3aaae6ca83"
            ]
        ]
    },
    {
        "id": "371cb29f85f08873",
        "type": "mqtt in",
        "z": "09be6f597c5a4e6e",
        "g": "b7a2203e2b320c7b",
        "name": "",
        "topic": "$SYS/broker/messages/maximum",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "29c50f1be5f2220e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 460,
        "wires": [
            [
                "d1a8de94a666adbd"
            ]
        ]
    },
    {
        "id": "d1a8de94a666adbd",
        "type": "ui-text",
        "z": "09be6f597c5a4e6e",
        "g": "b7a2203e2b320c7b",
        "group": "c5df4c6df868b5d4",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Maximum",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 460,
        "y": 460,
        "wires": []
    },
    {
        "id": "41489e40002c6122",
        "type": "ui-text",
        "z": "09be6f597c5a4e6e",
        "g": "688a7b15e13a466f",
        "group": "5b1fb9ca75821818",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Messages",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 470,
        "y": 620,
        "wires": []
    },
    {
        "id": "e9248650bbcf6ec5",
        "type": "ui-text",
        "z": "09be6f597c5a4e6e",
        "g": "688a7b15e13a466f",
        "group": "5b1fb9ca75821818",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Bytes",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 450,
        "y": 660,
        "wires": []
    },
    {
        "id": "160e9e60908f4e86",
        "type": "mqtt in",
        "z": "09be6f597c5a4e6e",
        "g": "688a7b15e13a466f",
        "name": "",
        "topic": "$SYS/broker/store/messages/bytes",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "29c50f1be5f2220e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 660,
        "wires": [
            [
                "e9248650bbcf6ec5"
            ]
        ]
    },
    {
        "id": "3359e588aa5c9b64",
        "type": "mqtt in",
        "z": "09be6f597c5a4e6e",
        "g": "688a7b15e13a466f",
        "name": "",
        "topic": "$SYS/broker/store/messages/count",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "29c50f1be5f2220e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 620,
        "wires": [
            [
                "41489e40002c6122"
            ]
        ]
    },
    {
        "id": "b66fa81b4ed709d6",
        "type": "ui-gauge",
        "z": "09be6f597c5a4e6e",
        "g": "78cb16780cd22a9d",
        "name": "1MinRcv",
        "group": "b8d9b009bf0bdcab",
        "order": 2,
        "width": "1",
        "height": "1",
        "gtype": "gauge-tile",
        "gstyle": "needle",
        "title": "1 Min",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "150",
                "color": "#ffc800"
            },
            {
                "from": "180",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": "200",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1280,
        "y": 120,
        "wires": []
    },
    {
        "id": "1b17479f93382438",
        "type": "mqtt in",
        "z": "09be6f597c5a4e6e",
        "g": "78cb16780cd22a9d",
        "name": "",
        "topic": "$SYS/broker/load/messages/received/1min",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "29c50f1be5f2220e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 920,
        "y": 120,
        "wires": [
            [
                "b66fa81b4ed709d6",
                "807e3b9efcf5d61c"
            ]
        ]
    },
    {
        "id": "63940b3856528fcf",
        "type": "mqtt in",
        "z": "09be6f597c5a4e6e",
        "g": "78cb16780cd22a9d",
        "name": "",
        "topic": "$SYS/broker/load/messages/received/5min",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "29c50f1be5f2220e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 920,
        "y": 200,
        "wires": [
            [
                "098b96638b65e117",
                "4a65474b709537de"
            ]
        ]
    },
    {
        "id": "ade95af206613b67",
        "type": "mqtt in",
        "z": "09be6f597c5a4e6e",
        "g": "78cb16780cd22a9d",
        "name": "",
        "topic": "$SYS/broker/load/messages/received/15min",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "29c50f1be5f2220e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 930,
        "y": 280,
        "wires": [
            [
                "ba199cee83200e30",
                "61dd17baaea36852"
            ]
        ]
    },
    {
        "id": "098b96638b65e117",
        "type": "ui-gauge",
        "z": "09be6f597c5a4e6e",
        "g": "78cb16780cd22a9d",
        "name": "5minRcv",
        "group": "b8d9b009bf0bdcab",
        "order": 3,
        "width": "1",
        "height": "1",
        "gtype": "gauge-tile",
        "gstyle": "needle",
        "title": "5 Min",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "150",
                "color": "#ffc800"
            },
            {
                "from": "180",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": "200",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1280,
        "y": 200,
        "wires": []
    },
    {
        "id": "ba199cee83200e30",
        "type": "ui-gauge",
        "z": "09be6f597c5a4e6e",
        "g": "78cb16780cd22a9d",
        "name": "15minRcv",
        "group": "b8d9b009bf0bdcab",
        "order": 4,
        "width": "1",
        "height": "1",
        "gtype": "gauge-tile",
        "gstyle": "needle",
        "title": "15 Min",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "150",
                "color": "#ffc800"
            },
            {
                "from": "180",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": "200",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1280,
        "y": 280,
        "wires": []
    },
    {
        "id": "807e3b9efcf5d61c",
        "type": "ui-text",
        "z": "09be6f597c5a4e6e",
        "g": "78cb16780cd22a9d",
        "group": "b8d9b009bf0bdcab",
        "order": 5,
        "width": "1",
        "height": "1",
        "name": "1minRcv",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 1280,
        "y": 160,
        "wires": []
    },
    {
        "id": "4a65474b709537de",
        "type": "ui-text",
        "z": "09be6f597c5a4e6e",
        "g": "78cb16780cd22a9d",
        "group": "b8d9b009bf0bdcab",
        "order": 6,
        "width": "1",
        "height": "1",
        "name": "5minRcv",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 1280,
        "y": 240,
        "wires": []
    },
    {
        "id": "61dd17baaea36852",
        "type": "ui-text",
        "z": "09be6f597c5a4e6e",
        "g": "78cb16780cd22a9d",
        "group": "b8d9b009bf0bdcab",
        "order": 7,
        "width": "1",
        "height": "1",
        "name": "15minRcv",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 1280,
        "y": 320,
        "wires": []
    },
    {
        "id": "1aba221ca75d5234",
        "type": "ui-gauge",
        "z": "09be6f597c5a4e6e",
        "g": "78cb16780cd22a9d",
        "name": "1minTrx",
        "group": "b8d9b009bf0bdcab",
        "order": 9,
        "width": "1",
        "height": "1",
        "gtype": "gauge-tile",
        "gstyle": "needle",
        "title": "1 Min",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "150",
                "color": "#ffc800"
            },
            {
                "from": "180",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": "200",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1280,
        "y": 380,
        "wires": []
    },
    {
        "id": "e43a11109958c42d",
        "type": "mqtt in",
        "z": "09be6f597c5a4e6e",
        "g": "78cb16780cd22a9d",
        "name": "",
        "topic": "$SYS/broker/load/messages/sent/1min",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "29c50f1be5f2220e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 910,
        "y": 380,
        "wires": [
            [
                "1aba221ca75d5234",
                "73bc8d0c82db74d7"
            ]
        ]
    },
    {
        "id": "e8eec7a2fb5b1b70",
        "type": "mqtt in",
        "z": "09be6f597c5a4e6e",
        "g": "78cb16780cd22a9d",
        "name": "",
        "topic": "$SYS/broker/load/messages/sent/5min",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "29c50f1be5f2220e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 910,
        "y": 460,
        "wires": [
            [
                "1ca03d8c9cbd0d04",
                "825af1e5ece1e68a"
            ]
        ]
    },
    {
        "id": "4f7aa32259dd8102",
        "type": "mqtt in",
        "z": "09be6f597c5a4e6e",
        "g": "78cb16780cd22a9d",
        "name": "",
        "topic": "$SYS/broker/load/messages/sent/15min",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "29c50f1be5f2220e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 910,
        "y": 540,
        "wires": [
            [
                "327a567776d0ec9a",
                "429304e1a2f4b74d"
            ]
        ]
    },
    {
        "id": "1ca03d8c9cbd0d04",
        "type": "ui-gauge",
        "z": "09be6f597c5a4e6e",
        "g": "78cb16780cd22a9d",
        "name": "5minTrx",
        "group": "b8d9b009bf0bdcab",
        "order": 10,
        "width": "1",
        "height": "1",
        "gtype": "gauge-tile",
        "gstyle": "needle",
        "title": "5 Min",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "150",
                "color": "#ffc800"
            },
            {
                "from": "180",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": "200",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1280,
        "y": 460,
        "wires": []
    },
    {
        "id": "327a567776d0ec9a",
        "type": "ui-gauge",
        "z": "09be6f597c5a4e6e",
        "g": "78cb16780cd22a9d",
        "name": "15minTrx",
        "group": "b8d9b009bf0bdcab",
        "order": 11,
        "width": "1",
        "height": "1",
        "gtype": "gauge-tile",
        "gstyle": "needle",
        "title": "15 Min",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "150",
                "color": "#ffc800"
            },
            {
                "from": "180",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": "200",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1280,
        "y": 540,
        "wires": []
    },
    {
        "id": "73bc8d0c82db74d7",
        "type": "ui-text",
        "z": "09be6f597c5a4e6e",
        "g": "78cb16780cd22a9d",
        "group": "b8d9b009bf0bdcab",
        "order": 12,
        "width": "1",
        "height": "1",
        "name": "1minTrx",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 1280,
        "y": 420,
        "wires": []
    },
    {
        "id": "825af1e5ece1e68a",
        "type": "ui-text",
        "z": "09be6f597c5a4e6e",
        "g": "78cb16780cd22a9d",
        "group": "b8d9b009bf0bdcab",
        "order": 13,
        "width": "1",
        "height": "1",
        "name": "5minTrx",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 1280,
        "y": 500,
        "wires": []
    },
    {
        "id": "429304e1a2f4b74d",
        "type": "ui-text",
        "z": "09be6f597c5a4e6e",
        "g": "78cb16780cd22a9d",
        "group": "b8d9b009bf0bdcab",
        "order": 14,
        "width": "1",
        "height": "1",
        "name": "15minTrx",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 1280,
        "y": 580,
        "wires": []
    },
    {
        "id": "01ecdbffa1532352",
        "type": "ui-template",
        "z": "09be6f597c5a4e6e",
        "g": "78cb16780cd22a9d",
        "group": "b8d9b009bf0bdcab",
        "page": "",
        "ui": "",
        "name": "SentTemplate",
        "order": 8,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n    <div>\n        <h2>Sent</h2>\n        <hr>\n        \n    </div>\n</template>\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1260,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "d136621ab6fc1198",
        "type": "ui-template",
        "z": "09be6f597c5a4e6e",
        "g": "78cb16780cd22a9d",
        "group": "b8d9b009bf0bdcab",
        "page": "",
        "ui": "",
        "name": "ReceiveTemplate",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n    <div>\n        <h2>Receive</h2>\n        <hr>\n        \n    </div>\n</template>\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1010,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "5bbd4061dfccb6a0",
        "type": "ui-group",
        "name": "Broker Traffic",
        "page": "4f75fc5b16ad0755",
        "width": "3",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "29c50f1be5f2220e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.2.118",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c5df4c6df868b5d4",
        "type": "ui-group",
        "name": "Clients",
        "page": "4f75fc5b16ad0755",
        "width": "3",
        "height": "1",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "5b292e6d2eed9fb7",
        "type": "ui-group",
        "name": "Broker Info",
        "page": "4f75fc5b16ad0755",
        "width": "3",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "5b1fb9ca75821818",
        "type": "ui-group",
        "name": "Store",
        "page": "4f75fc5b16ad0755",
        "width": "3",
        "height": "1",
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "b8d9b009bf0bdcab",
        "type": "ui-group",
        "name": "Load",
        "page": "4f75fc5b16ad0755",
        "width": "3",
        "height": "4",
        "order": 5,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "4f75fc5b16ad0755",
        "type": "ui-page",
        "name": "MqttDashboard",
        "ui": "b3068fa6c4128363",
        "path": "/md",
        "icon": "home",
        "layout": "grid",
        "theme": "8eb890ad7f8feeb0",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "b3068fa6c4128363",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "showPageTitle": true,
        "navigationStyle": "none",
        "titleBarStyle": "default"
    },
    {
        "id": "8eb890ad7f8feeb0",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#bd0000",
            "primary": "#00ff04",
            "bgPage": "#bfbfbf",
            "groupBg": "#696969",
            "groupOutline": "#dbdbdb"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "5px"
        }
    }
]
